<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.netlsd.moneytracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_note"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_note"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoneyTracker"
        tools:ignore="AllowBackup">
        <activity
            android:name=".ui.activities.NoteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.QueryConditionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QueryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SyncSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>